
.container{
    margin-top: 2%;
}
.inner{
    overflow: hidden;

}
.inner img{
    transition: all 1.5s ease;
    height: 310px;
}
.inner:hover img{
    transform: scale(1.5);
}
.card{
    margin-left: 20px;
}